127.0.0.1       localhost
127.0.0.1       {{ inventory_hostname }}
10.{{ admin_subnet }}.0.{{ ansible_host.split('.')[-1] }}      {{ inventory_hostname }}.admin

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters