source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# Admin Bridge
auto {{ admin_bridge }}
iface {{ admin_bridge }} inet dhcp
    bridge_ports {{ uplink_interface }}
    bridge_stp off
    bridge_fd 0
    bridge_maxwait 0
    up ip addr add 10.{{ admin_subnet }}.0.{{ ansible_host.split('.')[-1] }}/16 dev {{ admin_bridge }}
