pid_file = "{{ vault_dir }}/agents/mongo/mongos/mongos-vault-agent.pid"

vault {
  address = "https://{{ vault_ip }}:{{ hashi_vault_port }}"
  ca_cert = "{{ vault_dir }}/authorities/ca.pem"
}

auto_auth {
  method "approle" {
    config = {
      role_id_file_path = "{{ vault_dir }}/secrets/mongo/mongos/role_id"
      secret_id_file_path = "{{ vault_dir }}/secrets/mongo/mongos/secret_id"
      remove_secret_id_file_after_reading = true
    }
  }
  sink "file" {
    config = {
      path = "{{ vault_dir }}/secrets/mongo/mongos/.vault-token"
    }
  }
}

template {
  source      = "{{ vault_dir }}/templates/mongo/mongos/mongos-10.{{ mongo_mongos_subnet }}.0.{{ ansible_host.split('.')[-1] }}.pem.ctmpl"
  destination = "{{ vault_dir }}/secrets/mongo/mongos/mongos-10.{{ mongo_mongos_subnet }}.0.{{ ansible_host.split('.')[-1] }}.pem"
  perms       = 0600
  command     = "sudo {{ vault_dir }}/scripts/mongo/mongos/mongos-vault-restart.sh; exit 0"
}

