/* --- Navigation Panel Styles --- */
.navigation-panel {
  width: 15rem;
}

.navigation-panel.collapsed {
  width: 60px;
  padding: 0.5rem;
  align-items: center;
}

.navigation-panel-nav {
  flex: 1;
}

.navigation-panel-nav ul {
  list-style: none;
}

.navigation-panel-nav ul li {
  margin: 1rem 0;
}

.navigation-panel-nav ul li a {
  @apply font-Josefin text-xl text-fg-tone-black-1 transition-all hover:text-2xl;
  text-decoration: none;
}
.navigation-panel-nav ul li a:hover {
  opacity: 0.8;
}

.navigation-panel.collapsed .navigation-panel-title,
.navigation-panel.collapsed .navigation-panel-nav,
.navigation-panel.collapsed .logout-btn,
.navigation-panel.collapsed .navigation-panel-toggle {
  display: none;
}

.navigation-panel-toggle-tab {
  display: none;
}

.navigation-panel.collapsed .navigation-panel-toggle-tab {
  display: block;
}
