/* --- Navigation Panel Styles --- */
.navigation-panel.collapsed {
  width: 60px;
  padding: 0.5rem;
  align-items: center;
}

.navigation-panel-nav {
  flex: 1;
}

.navigation-panel-nav ul {
  list-style: none;
}

.navigation-panel-nav ul li {
  margin: 1rem 0;
}

.navigation-panel-nav ul li a {
  @apply text-fg-tone-black-1;
  text-decoration: none;
  font-size: 1.25rem;
  transition: opacity 0.2s ease;
}
.navigation-panel-nav ul li a:hover {
  opacity: 0.8;
}

.navigation-panel.collapsed .navigation-panel-title,
.navigation-panel.collapsed .navigation-panel-nav,
.navigation-panel.collapsed .logout-btn,
.navigation-panel.collapsed .navigation-panel-toggle {
  display: none;
}

.navigation-panel.collapsed .navigation-panel-toggle-tab {
  display: block;
}
