[ req ]
default_bits        = 4096
default_md          = sha256
prompt              = no
distinguished_name  = dn
req_extensions      = req_ext

[ dn ]
C = {{ cert_country }}
ST = {{ cert_state }}
L = {{ cert_locality }}
O = {{ cert_organization }}
OU = VaultClient
CN = {{ inventory_hostname }}

[ req_ext ]
subjectAltName = @alt_names
extendedKeyUsage = clientAuth

[ alt_names ]
DNS.1 = {{ inventory_hostname }}.admin
IP.1  = 10.{{ admin_subnet }}.0.{{ ansible_host.split('.')[-1] }}