path "auth/approle/role/mongos-10.{{ mongo_mongos_subnet }}.0.{{ ansible_host.split('.')[-1] }}/role-id" {
  capabilities = ["read"]
}

path "auth/approle/role/mongos-10.{{ mongo_mongos_subnet }}.0.{{ ansible_host.split('.')[-1] }}/secret-id" {
  capabilities = ["update"]
}
