server:
  ip: {{ tabletop_vault_server_ip }}
  port: {{ tabletop_vault_server_port }}

tls:
  ca: {{ vault_dir }}/authorities/ca.pem
  cert: {{ vault_dir }}/certs/mongo/vaultServerClient.crt
  key: {{ vault_dir }}/certs/mongo/vaultServerClient.key

request:
  id: {{ inventory_hostname }}
  ip: 10.{{ mongo_shard_subnet }}.0.{{ ansible_host.split('.')[-1] }}
  purpose: Get role_id and secret_id for mongo shard server secrets
  policies:
    - mongo-shard-approle-reader-10.{{ mongo_shard_subnet }}.0.{{ ansible_host.split('.')[-1] }}
  num_uses: 2
