{% raw %}{{- with secret "pki/issue/mongo-config-{% endraw %}10.{{ mongo_config_subnet }}.0.{{ ansible_host.split('.')[-1] }}{% raw %}" "common_name={% endraw %}{{ inventory_hostname }}.mongo.config{% raw %}" "alt_names={% endraw %}{{ inventory_hostname | lower}}{% raw %},{% endraw %}{{ inventory_hostname }}{% raw %}.mongo.config" "ip_sans={% endraw %}10.{{ mongo_config_subnet }}.0.{{ ansible_host.split('.')[-1] }}{% raw %}" -}}
{{- .Data.certificate }}
{{ .Data.private_key -}}
{{- end -}}{% endraw %}