{% raw %}{{- with secret "pki/issue/mongos-{% endraw %}10.{{ mongo_mongos_subnet }}.0.{{ ansible_host.split('.')[-1] }}{% raw %}" "common_name={% endraw %}{{ inventory_hostname }}.mongo.mongos{% raw %}" "alt_names={% endraw %}{{ inventory_hostname | lower}}{% raw %},{% endraw %}{{ inventory_hostname }}{% raw %}.mongo.mongos" "ip_sans={% endraw %}10.{{ mongo_mongos_subnet }}.0.{{ ansible_host.split('.')[-1] }}{% raw %}" -}}
{{- .Data.certificate }}
{{ .Data.private_key -}}
{{- end -}}{% endraw %}